<div class = "progress">
  <div class = "progress-bar progress-bar-stripped progress-bar-animated" role = "progressbar" aria-label = "Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
</div>

<h2>Country</h2>
<% form_for @user url: next_wizard_path, method: "PUT" do |f|%>
  <%= f.hidden_field :user_id, value: @user.id %>
  <% @users.each do |user|%>
    <div>
      <%= f.label :country %><br />
      <%= f.country_select :country, {} %>
    </div>
  <%end%>
  <%= f.submit "Continue" %>
  <%= link_to "Skip", next_wizard_path %>
  <%= link_to "Previous Page", previous_wizard_path %>
<%end%>
