<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center">  
  <%= render 'profile' %>
  <%= image_tag (@user.thumbnail) if @user.image.attached? <%>
    <p><b>First Name: </b><%= @user.first_name %></p>
    <p><b>Last Name: </b><%= @user.last_name %></p>
    <p><b>Email: </b><%= @user.email %></p>
    <p><b>Phone Number: </b><%= @user.phone_number %></p>
    <p><b>Country: </b><%= @user.country %></p>
    <br>
  <%= link_to 'Edit User', edit_admin_user_path(@user) %>
  <br>
  <%= link_to 'Delete User', admin_user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
