<h1>Listing Camps</h1>

<form action="<%= admin_camps_path %>">
  <input type="text" name="search_key">
  <button type="submit">Search</button>
</form>

<%= link_to "Add Camp", new_admin_camp_path %></td>
<%= link_to "Export Report", admin_camps_path(format: :csv) %>
<table>
  <thead>
    <tr>
      <th><%=sortable "Camp's ID" %></th>
      <th><%=sortable "Title" %></th>
      <th><%=sortable "Camp Locations" %></th>
      <th><%=sortable "Status" %></th>
      <th><%=sortable "Registration Date" %></th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
 <tbody>
  <% @camps.each do |camp|%>
    <tr>
      <td><%= camp.id %></td>
      <td><%= camp.title %></td>
      <td><%= camp.locations %></td>
      <td><%= camp.camp_status %></td>
      <td><%= camp.applicant_registration_start_date %></td>
      <td><%= link_to "View |", admin_camp_path(camp) %></td>
      <td><%= link_to "Edit |", edit_admin_camp_path(camp) %></td>
      <td><%= link_to "Delete ", admin_camp_path(camp) , method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <%end%>
 </tbody>

</table>
<div>
<%= paginate @camps %>
</div>