<div class="container-fluid w-25 border rounded shadow mt-5 p-4">  
  <h4>Camp: <%=@camp.id%><h4>
  <p><b>Camp Title: </b><%= @camp.title %><p>
  <p><b>Camp Type: </b><%= @camp.camp_type %></p>
  <p><b>Locations: </b><%= @camp.locations %></p>
  <p><b>Status: </b><%= @camp.camp_status %></p>
  <p><b>Applicant Registration Start Date: </b><%= @camp.applicant_registration_start_date %></p>
  <p><b>Applicant Registration Start Time: </b><%= @camp.applicant_registration_start_time %></p>
  <p><b>Applicant Registration End Date: </b><%= @camp.applicant_registration_end_date %></p>
  <p><b>Applicant Registration End Time: </b><%= @camp.applicant_registration_end_time %></p>
  <p><b>Parent Application Start Date: </b><%= @camp.parent_application_start_date %></p>
  <p><b>Parent Application Start Time: </b><%= @camp.parent_application_start_time %></p>
  <p><b>Parent Application End Date: </b><%= @camp.parent_application_end_date %></p>
  <p><b>Parent Application End Time: </b><%= @camp.parent_application_end_time %></p>

</div>
